.content {
    height: 100%;
    width: auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content canvas {
    height: 600px;
    width: 800px;
    margin: auto;
}